@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

// Variables
$bodyBgColor: hsl(233, 47%, 7%);
$cardBgColor: hsl(244, 38%, 16%);
$highlightTxColor: hsl(277, 64%, 61%);
$paragraphTxColor: hsla(0, 0%, 100%, 0.75);
$statisticsTxColor: hsla(0, 0%, 100%, 0.6);

// Mixins
@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* { margin: 0; }

body {
    min-height: 100vh;
    @include flexbox(column, center, center);
    background-color: $bodyBgColor;
}

.component {
    max-width: 900px;
    height: 25rem;
    @include flexbox(row-reverse, center, center);
    margin: 30px;
    border-radius: 10px;
    background-color: $cardBgColor;

    @media screen and (max-width: 800px) {
        max-width: 400px;
        height: auto;
        flex-direction: column;
    }

    &__image {
        min-width: 50%;
        height: 100%;
        border-radius: 0 10px 10px 0;
        background: rgba(128, 0, 128, 0.5) url("images/image-header-desktop.jpg") no-repeat;
        background-blend-mode: overlay;

        @media screen and (max-width: 800px) {
            width: 100%;
            min-height: 300px;
            border-radius: 10px 10px 0 0;
            background-image: url("images/image-header-mobile.jpg");
        }
    }

    &__section {
        @include flexbox(column, center, flex-start);
        gap: 30px;
        padding: 50px;

        font-family: "Lexend Deca", sans-serif;

        &__title {
            font-family: Inter, sans-serif;
            font-size: 2.2em;
            color: white;
            span {
                color: $highlightTxColor;
            }

            @media screen and (max-width: 800px) {
                text-align: center;
            }
        }
        &__content {
            color: $paragraphTxColor;

            @media screen and (max-width: 800px) {
                text-align: center;
            }
        }
        &__container {
            width: 100%;
            margin-top: 30px;
            @include flexbox(row, flex-start, center);

            @media screen and (max-width: 800px) {
                @include flexbox(column, center, center);
            }

            gap: 60px;
            &__statistics {
                @include flexbox(column, center, flex-start);
                gap: 5px;

                @media screen and (max-width: 800px) {
                    @include flexbox(column, center, center);
                }

                strong {
                    font-family: Inter, sans-serif;
                    font-size: 1.5em;
                    color: white;
                    text-transform: uppercase;
                }
                span {
                    font-size: 0.8em;
                    color: $statisticsTxColor;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; a { color: hsl(228, 45%, 44%); } }