@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');

// Variables
$bodyBgColor: hsl(233, 47%, 7%);
$cardBgColor: hsl(244, 38%, 16%);
$highlightTxColor: hsl(277, 64%, 61%);
$paragraphTxColor: hsla(0, 0%, 100%, 0.75);
$statisticsTxColor: hsla(0, 0%, 100%, 0.6);


* { margin: 0; }

body {
    min-height: 100vh;
    display: grid;
    

    background-color: $bodyBgColor;
}

.component {

    border-radius: 10px;
    background-color: $cardBgColor;


    &__image {

        background-color: purple;
        background-repeat: no-repeat;
        background-blend-mode: multiply;

        @media screen and (max-width: 42rem) {
            border-radius: 0 10px 10px 0;
            background-image: url('/images/image-header-mobile.jpg');
        }
        @media screen and (min-width: 28rem) {
            background-image: url('/images/image-header-desktop.jpg');
        }
    }

    &__section {

        font-family: "Lexend Deca", sans-serif;

        &__title {
            font-family: Inter, sans-serif;
            font-size: 2.2em;
            color: white;
            span {
                color: $highlightTxColor;
            }
        }
        &__content {
            color: $paragraphTxColor;
        }
        &__container {

            &__statistics {

                strong {
                    font-family: Inter, sans-serif;
                    font-size: 1.5em;
                    color: white;
                    text-transform: uppercase;
                }
                span {
                    font-size: 0.8em;
                    color: $statisticsTxColor;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; a { color: hsl(228, 45%, 44%); } }